<section class="banner banner-secondary" id="top" style="background-image: url(assets/img/bg.png);">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="banner-caption">
            <div class="line-dec"></div>
            <h2>Sign Up</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <main>
    <section class="popular-places">
      <div class="container">
        <div class="contact-content">
          <div class="row">
            <div class="col-md-12">
              <div class="left-content">
                <div class="row">
                  <form (ngSubmit)="onSubmit()">
                    <div class="col-md-6">
                      <fieldset>
                        <input name="email" type="text" class="form-control" [(ngModel)]="form.email" placeholder="Email Address..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input type="password" name="password" class="form-control" [(ngModel)]="form.password" placeholder="Password..." required>
                      </fieldset>
                    </div>
                      <!-- Role selection dropdown -->
                    <select name="role" class="form-control" [(ngModel)]="form.role" required>
                    <option value="manager">Manager</option>
                    <option value="fournisseur">Fournisseur</option>
                    <option value="client">Client</option>
                    </select>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-12">
                      <fieldset>
                        <div class="blue-button">
                          <button id="form-submit" type="submit" class="btn btn-block">Sign Up</button>
                        </div>
                      </fieldset>
                    </div>
                  </form>
                  
                  <!-- Error message display -->
                  <div *ngIf="errorMessage" class="alert alert-danger">
                    {{ errorMessage }}
                  </div>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </section>
  </main>
  