
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="about-veno">
                    <div class="logo">
                        <img src="assets/img/logo.png" alt="Venue Logo">
                        
                    </div>
                    <p>PLANET MEDICAL MAINTENANCES SERVICES (P2MS) est un professionnel de la vente d’équipements.</p>
                    <ul class="social-icons">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="useful-links">
                    <div class="footer-heading">
                        <h4>Useful Links</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><a href="inde.html"><i class="fa fa-stop"></i>Home</a></li>
                                <li><a href="about.html"><i class="fa fa-stop"></i>About</a></li>
                                <li><a href="team.html"><i class="fa fa-stop"></i>Team</a></li>
                                <li><a href="contact.html"><i class="fa fa-stop"></i>Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><a href="faq.html"><i class="fa fa-stop"></i>FAQ</a></li>
                                <li><a href="testimonials.html"><i class="fa fa-stop"></i>Testimonials</a></li>
                                <li><a href="blog.html"><i class="fa fa-stop"></i>Blog</a></li>
                                <li><a href="terms.html"><i class="fa fa-stop"></i>Terms</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-info">
                    <div class="footer-heading">
                        <h4>Contact Information</h4>
                    </div>
                    <p><i class="fa fa-map-marker"></i>16 AVENUE HABIB BOURGUIBA BEN AROUS 2013 TUNIS</p>
                    <ul>
                        <li><span>Phone:</span><a href="#">+216 26 490 519</a></li>
                        <li><span>Email:</span><a href="#">planetmedicalmaintenanceservic@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>